// Font Family
// $main-font: 'Satoshi';
// $sub-font: 'ClashDisplay';
$magnita: 'Magnita';
$bootstrapFont: 'bootstrap-icons';

// Color Settings
$text-color: rgba(0,0,0,0.7);
$text-dark: #000;
$text-white: #fff;
$heading: #181818;
$color-one: #438DBF;
$color-two: #181818;
$color-three:#11649B;
$color-four: #11649B;
$color-five: #438DBF;
$color-six: #438DBF;
$color-seven: #044F3B;
$color-hover: #11649B;
$color-eight: #1F5E59;
$color-nine: #11649B;
$light-bg-one: #ffffff;
$light-bg-two: #ffffff;
$light-bg: #2c7baf1a;
$cyan: #DCEFF0;
