// Font Family
// $main-font: 'Satoshi';
// $sub-font: 'ClashDisplay';
$magnita: 'Magnita';
$bootstrapFont: 'bootstrap-icons';

// Color Settings
$text-color: rgba(0,0,0,0.7);
$text-dark: #000;
$text-white: #fff;
$heading: #181818;
$color-one: #79A7C8;
$color-two: #181818;
$color-three:#79A7C8;
$color-four: #79A7C8;
$color-five: #79A7C8;
$color-six: #79A7C8;
$color-seven: #044F3B;
$color-hover: #79A7C8;
$color-eight: #1F5E59;
$color-nine: #79A7C8;
$light-bg-one: #fef9f5;
$light-bg-two: #fef9f5;
$light-bg: #EAEDEE;
$cyan: #DCEFF0;
